   <div class="container-fluid">
 
  <div class="row">
     
      <form action="/admin/generate-fake-posts" method='post'>
  <h1>Generate posts</h1>
          <div class="form-group">
              <input type="number" name='amount' class="form-control">
          </div>

            <button type="submit" class="btn btn-primary">Create Posts</button>
      </form>
  </div>
 </div>